.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --font-family: "Roboto", sans-serif;
  --background-color: #ffffff;
  --address-color: #2e2f42;
  --adres-colr: #434455;
  --hero-color: #2e2f42;
  --portfolio-color: #4d5ae5;
  --portfolio-backroud: #f4f4fd;
}

.body {
  font-family: var(--font-family);
  color: var(--adres-colr);
  background-color: var(--background-color);
}

.conteiner:{
  width: 1440px;
  height: 600px;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-text {
  color: var(--address-color);
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

.menu-link-adresa {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-colr);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link-adresa:hover,
.menu-link-adresa:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  color: var(--adres-colr);
}

.hero {
  margin-top: 0;
  margin-bottom: 48px ;
  background-color: var(--hero-color);
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.button-title {
  display: inline-block;
 border-radius: 4px;
 padding: 16px 32px;
 min-width: 169px;
 text-align: center;
 
 
 
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--portfolio-color);
  color: var(--background-color);
  cursor: pointer;
}

.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
}

.sub-sub-title {
margin-top: 0;
margin-bottom: 120px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

.complementary-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adres-colr);
}

.complementary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-three {
  background-color: var(--portfolio-backroud);
}

.section-three-two {
  background-color: var(--background-color);
}

.footer {
  background-color: var(--address-color);
}
.complementary-text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-text-buffer {
  color: #f4f4fd;
}

/*portfolio upravy*/
.portfolio:hover,
.portfolio:focus {
  color: #404bbf;
}

.hero-port 

.button-title-port-all {
 display: inline;
 border-radius: 4px;
 padding: 12px 24px;
 min-width: 69px;
 border: 1px solid #e7e9fc;
 
 
 
 
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portfolio-color);
  background-color: var(--portfolio-backroud);
  cursor: pointer;
}


.button-title-port-all-primary {
 display: inline;
 border-radius: 4px;
 padding: 12px 24px;
 min-width: 69px;
 border: 1px solid transparent;
 
 
 
  
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #404bbf;
  color: var(--background-color);
  cursor: pointer;
}

.button-title-port-all:hover,
.button-title-port-all:focus {
  color: var(--background-color);
  background-color: #404bbf;
}

.button-title-port-all-primary:hover,
.button-title-port-all-primary:focus {
  color: var(--background-color);
}

.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

.second-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adres-colr);
}

.menu-link-adresa-port {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-colr);
}

.menu-link-adresa-port:hover,
.menu-link-adresa-port:focus {
  color: #404bbf;
}
